body,
html {
  font-family: "Helvetica";
  font-size: 14px;
}
.book_edit textarea {
  width: 500px;
  height: 200px;
}
.book_edit label {
  clear: both;
  display: block;
  float: left;
  width: 100px;
}
.book_edit .files {
  clear: both;
  min-height: 200px;
  border: dashed 2px #888;
  padding: 10px;
  position: relative;
  padding-bottom: 25px;
}
.book_edit .files.drag {
  border: solid 2px #33a;
  background-color: #ddf;
}
.book_edit .files .file {
  height: 25px;
}
.book_edit .files .file.loading .remove,
.book_edit .files .file.loading .rename {
  display: none;
}
.book_edit .files .file.loading .external_link {
  display: none;
}
.book_edit .files .file.loading a {
  color: #aaa;
  text-decoration: none;
  pointer-events: none;
  cursor: normal;
}
.book_edit .files .file input {
  display: inline-block;
  width: 300px;
}
.book_edit .files .instructions {
  position: absolute;
  bottom: 4px;
  color: #888;
  pointer-events: none;
}
.external_link {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=") center right no-repeat;
  min-width: 10px;
  min-height: 10px;
  display: inline-block;
}
