//carbon = url(/images/carbon_fibre.png) #333
//aluminum = url(/images/brushed_alu_dark.png) #888
//aluminum = #888

body, html, a, div, p, h1, h2, h3, h4, h5
  padding 0px
  margin 0px
  background #333
  font-family "Helvetica"
  color #FFF
