<h1>Libros Admin</h1>

<!--<pre>{{books}}</pre>-->

<div class="genres">
  <h3>Genres</h3>
  <div ng-repeat="genre in genres">
    <a href="x">x</a><span>{{genre}}</span>
  </div>

  <p><input ng-model="newGenre"><button ng-click="createGenre()">Add Genre</button></p>
</div>

<div class="books">
<h3>Books</h3>
<div ng-repeat="book in books">
  <a href="/admin/books/{{book.bookId}}">{{book.title}}</a>
</div>
<p><button ng-click="createBook()">Add Book</button></p>
</div>


<!-- 
LIST
  shows all books, link to edit and delete

EDIT/NEW
  title
  upload files
-->

