<div class="book_edit">

<form>
  <!--<label>bookId</label>-->
  <!--<div><input disabled ng-model="book.bookId"></div>-->

  <label>title</label>
  <div><input ng-model="book.title"/></div>

  <label>Files</label>
  <div class="files" dragupload="onDrop">
    <div class="instructions">Drop files here (.mp3 or .txt)</div>
    <div class="file" ng-repeat="file in files">
      <div><a ng-click="removeFile(file)">x</a> <a href="{{file.url}}">{{file.name}}.{{file.ext}}</a></div>
    </div>
  </div>

  <p>
    <button ng-disabled="!book" ng-click="save()">Save</button>
    <button ng-disabled="!book" ng-click="remove()">Remove</button>
  </p>
</form>

</div>
