<div class="book_edit">

<!--<pre>{{files}}</pre>-->

<form>
  <!--<label>bookId</label>-->
  <!--<div><input disabled ng-model="book.bookId"></div>-->

  <label>title</label>
  <div><input ng-model="book.title" placeholder="A Tale of Two Cities"/></div>

  <label>price (cents)</label>
  <div><input ng-model="book.price" placeholder="199"/></div>

  <label>author</label>
  <div><input ng-model="book.author" placeholder="Charles Dickens"/></div>

  <label>genre</label>
  <div><input ng-model="book.genre"/ placeholder="Comedy"></div>

  <label>description</label>
  <div><textarea ng-model="book.description" placeholder="This book is awesome"></textarea></div>

  <label>files</label>
  <div class="files" dragupload="onDrop">
    <div class="instructions">Drop files here (.mp3 or .txt)</div>

    <div class="file" ng-class="{loading: isLoading(file)}" ng-repeat="file in files | orderBy:'name'">
      <div ng-hide="isEditing(file)">
        <small><button class="remove" ng-click="removeFile(file)">x</button> </small>
        <small><button ng-click="editFile(file)">rename</button></small>
        <a href="{{file.url}}" target="_blank">{{file.name}}.{{file.ext}}</a>
        <!--<a class="external_link" href="{{file.url}}"></a>-->
      </div>
      <div ng-show="isEditing(file)">
        <input ng-model="editing.name">
        <button ng-click="updateFile(file)">Save</button>
        <a ng-click="cancelEdit()">Cancel</a>
      </div>
    </div>
  </div>

  <p>
    <button ng-disabled="!book" ng-click="save()">Save</button>
    <button ng-disabled="!book" ng-click="remove()">Remove</button>
  </p>

</form>

</div>
